
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="~/Assets/Scripts/basic/distributor.js"></script>
}

<h2>Distributors</h2>

<table id="grid"></table>

