
@{
    ViewBag.Title = "Distributors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript" src="~/Assets/Scripts/basic/distributor.js"></script>
}

<h2>Distributors</h2>

<div class="container-full">
    <div class="row">
        <div class="col-xs-8">
            <form class="form-inline">
                <div class="form-group">
                    <input id="txtCode" type="text" placeholder="Code..." class="form-control" />
                    <input id="txtName" type="text" placeholder="Name..." class="form-control" />
                </div>
                <button id="btnSearch" type="button" class="btn btn-default">Search</button>
                <button id="btnClear" type="button" class="btn btn-default">Clear</button>
            </form>
        </div>
        <div class="col-xs-4">
            <button id="btnAdd" type="button" class="btn btn-default pull-right">Add New Record</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
            <table id="grid"></table>
        </div>
    </div>
    <div id="dialog" style="display: none">
        <input type="hidden" id="Id" />
        <form>
            <div class="form-group">
                <label for="Code">Code</label>
                <input type="text" class="form-control" id="Code">
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name">
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <input type="text" class="form-control" id="Address" />
            </div>
            <button type="button" id="btnSave" class="btn btn-default">Save</button>
            <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>

<table id="grid"></table>

