
@{
    ViewBag.Title = "Asp.net MVC-Field Forces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Field Forces</h2>

<div class="container-full">
    <div class="row">
        <div class="col-xs-8">
            <form class="form-inline">
                <div class="form-group">
                    <input id="txtCode" type="text" placeholder="Code..." class="form-control" />
                    <input id="txtName" type="text" placeholder="Name..." class="form-control" />
                    <select id="optDristributor" class="form-control"></select>
                </div>
                <button id="btnSearch" type="button" class="btn btn-default">Search</button>
                <button id="btnClear" type="button" class="btn btn-default">Clear</button>
            </form>
        </div>
        <div class="col-xs-4">
            <button id="btnAdd" type="button" class="btn btn-default pull-right">Add New Record</button>
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
            <table id="grid"></table>
        </div>
    </div>

    <div id="mhDialog" class="row" style="margin-top: 10px; display:none">
        <div class="col-xs-12">
            <table id="tree"></table>
        </div>
        <button type="button" id="btnClose" class="btn btn-default">Close</button>
        <button type="button" id="btnSelect" class="btn btn-default">Select</button>
    </div>

    <div id="ffDialog" style="display: none">
        <form name="form-ff">
            <input type="hidden" id="Id" />
            <div class="form-group">
                <label for="Code">Code</label>
                <input type="text" class="form-control" id="Code" name="Code">
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>
            <div class="form-group">
                <label for="Phone">Phone</label>
                <input type="text" class="form-control" id="Phone" name="Phone">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Email" name="Email">
            </div>
            <div class="form-group">
                <label for="ZipCode">Distributors</label>
                <ul id="Distributors" style="list-style-type: none"></ul>
            </div>
            <div class="form-group">
                <label for="MarketHierarchy">Market Hierarchy</label>
                <a class="mhTree">Select a Market</a>
                <input type="hidden" id="hdMhId" name="hdMhId" />
            </div>
            <div class="form-group">
                <label for="AddressLine1">Address Line 1</label>
                <input type="text" class="form-control" id="AddressLine1" name="AddressLine1">
            </div>
            <div class="form-group">
                <label for="AddressLine2">Address Line 2</label>
                <input type="text" class="form-control" id="AddressLine2" name="AddressLine2">
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <input type="text" class="form-control" id="City" name="City">
            </div>
            <div class="form-group">
                <label for="State">State</label>
                <input type="text" class="form-control" id="State" name="State">
            </div>
            <div class="form-group">
                <label for="ZipCode">Zip Code</label>
                <input type="text" class="form-control" id="ZipCode" name="ZipCode">
            </div>
            <button type="button" id="btnSave" class="btn btn-default">Save</button>
            <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Assets/Scripts/basic/fieldforce.js"></script>
    <script type="text/javascript" src="~/Assets/Scripts/validations/fieldforce-validation.js"></script>
}

