@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blue Book WEB API</h1>
    <p class="lead">ASP.NET WEB API developed using Asp.net MVC 5,Entity  Framework 6, Repository Pattern, Web API 2, Ninject, Log4Net, Bootstrap 3, Gijgo</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><a class="btn btn-default" href="/API/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>