
@{
    ViewBag.Title = "Asp.net MVC-Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Assets/Scripts/basic/product.js"></script>
    <script type="text/javascript" src="~/Assets/Scripts/validations/product-validation.js"></script>
}

<h2>Distributors</h2>

<div class="container-full">
    <div class="row">
        <div class="col-xs-1">
            <input id="txtCode" type="text" placeholder="Code..." class="form-control" />
        </div>
        <div class="col-xs-2">
            <input id="txtName" type="text" placeholder="Name..." class="form-control" />
        </div>
        <div class="col-xs-3">
            <select id="optBrand" class="form-control"></select>
        </div>
        <div class="col-xs-1">
            <button id="btnSearch" type="button" class="btn btn-default">Search</button>
        </div>
        <div class="col-xs-1">
            <button id="btnClear" type="button" class="btn btn-default">Clear</button>
        </div>
        <div class="col-xs-4">
            <button id="btnAdd" type="button" class="btn btn-default pull-right">Add New Record</button>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
            <table id="grid"></table>
        </div>
    </div>
    <div id="dialog" style="display: none">
        <form name="form-product">
            <input type="hidden" id="Id" />
            <div class="form-group">
                <label for="Code">Code</label>
                <input type="text" class="form-control" id="Code" name="Code">
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>
            <div class="form-group">
                <label for="Brand">Brand</label>
                <select id="Brand" class="form-control" name="Brand"></select>
            </div>
            <div class="form-group">
                <label for="Price">Price</label>
                <input type="text" class="form-control numbersOnly" id="Price" name="Price" />
            </div>
            <div class="form-row">
                <button type="submit" id="btnSave" class="btn btn-default">Save</button>
                <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>

<table id="grid"></table>

